<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>汉堡包</string>
		<key>description</key>
		<string>苹果2个</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>0</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>245</integer>
			<key>protein</key>
			<real>12.9</real>
			<key>fat</key>
			<real>7.8</real>
			<key>carbohydrate</key>
			<real>29.5</real>
			<key>sodium</key>
			<integer>522</integer>
			<key>calcium</key>
			<integer>143</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>巨无霸</string>
		<key>description</key>
		<string>梨5个</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>7</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>491</integer>
			<key>protein</key>
			<integer>26</integer>
			<key>fat</key>
			<real>23.4</real>
			<key>carbohydrate</key>
			<real>42.6</real>
			<key>sodium</key>
			<integer>809</integer>
			<key>calcium</key>
			<integer>252</integer>
		</dict>
	</dict>
</array>
</plist>
