<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<!-- 汉堡 -->  
	<dict>
		<key>name</key>
		<string>汉堡包</string>
		<key>description</key>
		<string>能量约苹果2个</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>0</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>245</integer>
			<key>protein</key>
			<real>12.9</real>
			<key>fat</key>
			<real>7.8</real>
			<key>carbohydrate</key>
			<real>29.5</real>
			<key>sodium</key>
			<integer>522</integer>
			<key>calcium</key>
			<integer>143</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>吉士汉堡包</string>
		<key>description</key>
		<string>能量约红薯3个</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>1</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>299</integer>
			<key>protein</key>
			<real>15.6</real>
			<key>fat</key>
			<real>11.8</real>
			<key>carbohydrate</key>
			<real>31.1</real>
			<key>sodium</key>
			<integer>740</integer>
			<key>calcium</key>
			<integer>231</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>双层吉士汉堡</string>
		<key>description</key>
		<string>能量约大虾10只</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>2</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>440</integer>
			<key>protein</key>
			<real>26.1</real>
			<key>fat</key>
			<real>21.8</real>
			<key>carbohydrate</key>
			<real>33.7</real>
			<key>sodium</key>
			<integer>995</integer>
			<key>calcium</key>
			<integer>322</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>麦香鸡</string>
		<key>description</key>
		<string>能量约苹果3个</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>3</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>374</integer>
			<key>protein</key>
			<real>14.5</real>
			<key>fat</key>
			<real>16.5</real>
			<key>carbohydrate</key>
			<real>40.3</real>
			<key>sodium</key>
			<integer>792</integer>
			<key>calcium</key>
			<integer>150</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>麦香鱼</string>
		<key>description</key>
		<string>能量约橘子4个</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>4</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>342</integer>
			<key>protein</key>
			<real>14.5</real>
			<key>fat</key>
			<real>14</real>
			<key>carbohydrate</key>
			<real>37.5</real>
			<key>sodium</key>
			<integer>611</integer>
			<key>calcium</key>
			<integer>300</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>麦辣鸡腿汉堡</string>
		<key>description</key>
		<string>能量约牛油果2个</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>5</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>516</integer>
			<key>protein</key>
			<real>23.2</real>
			<key>fat</key>
			<real>26.4</real>
			<key>carbohydrate</key>
			<real>44.5</real>
			<key>sodium</key>
			<integer>1164</integer>
			<key>calcium</key>
			<integer>156</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>培根蔬萃双层牛堡</string>
		<key>description</key>
		<string>能量约生蚝4只</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>6</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>459</integer>
			<key>protein</key>
			<real>24</real>
			<key>fat</key>
			<real>23</real>
			<key>carbohydrate</key>
			<real>35.7</real>
			<key>sodium</key>
			<integer>666</integer>
			<key>calcium</key>
			<integer>154</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>巨无霸</string>
		<key>description</key>
		<string>能量约梨5个</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>7</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>491</integer>
			<key>protein</key>
			<real>26</real>
			<key>fat</key>
			<real>23.4</real>
			<key>carbohydrate</key>
			<real>42.6</real>
			<key>sodium</key>
			<integer>809</integer>
			<key>calcium</key>
			<integer>252</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>原味板烧鸡腿堡</string>
		<key>description</key>
		<string>能量约红薯4个</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>8</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>404</integer>
			<key>protein</key>
			<real>22.9</real>
			<key>fat</key>
			<real>17.5</real>
			<key>carbohydrate</key>
			<real>37.2</real>
			<key>sodium</key>
			<integer>1174</integer>
			<key>calcium</key>
			<integer>221</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>不素之霸双层牛堡</string>
		<key>description</key>
		<string></string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>9</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>454</integer>
			<key>protein</key>
			<real>27.7</real>
			<key>fat</key>
			<real>23.4</real>
			<key>carbohydrate</key>
			<real>32</real>
			<key>sodium</key>
			<integer>898</integer>
			<key>calcium</key>
			<integer>99</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>双层深海鳕鱼堡</string>
		<key>description</key>
		<string>相当于5个大虾</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>10</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>526</integer>
			<key>protein</key>
			<real>25.2</real>
			<key>fat</key>
			<real>24.6</real>
			<key>carbohydrate</key>
			<real>49.4</real>
			<key>sodium</key>
			<integer>912</integer>
			<key>calcium</key>
			<integer>448</integer>
		</dict>
	</dict>
    <dict>
        <key>name</key>
        <string>安格斯厚牛培根堡</string>
        <key>description</key>
        <string></string>
        <key>categoryType</key>
        <string>汉堡</string>
        <key>categoryIndex</key>
        <integer>11</integer>
        <key>nutritions</key>
        <dict>
            <key>calories</key>
            <integer>660</integer>
            <key>protein</key>
            <real>34.2</real>
            <key>fat</key>
            <real>38.5</real>
            <key>carbohydrate</key>
            <real>43.6</real>
            <key>sodium</key>
            <integer>1105</integer>
            <key>calcium</key>
            <integer>179</integer>
        </dict>
    </dict>
    <dict>
        <key>name</key>
        <string>安格斯厚牛芝士堡</string>
        <key>description</key>
        <string></string>
        <key>categoryType</key>
        <string>汉堡</string>
        <key>categoryIndex</key>
        <integer>12</integer>
        <key>nutritions</key>
        <dict>
            <key>calories</key>
            <integer>620</integer>
            <key>protein</key>
            <real>28.1</real>
            <key>fat</key>
            <real>33.5</real>
            <key>carbohydrate</key>
            <real>40.9</real>
            <key>sodium</key>
            <integer>699</integer>
            <key>calcium</key>
            <integer>95</integer>
        </dict>
    </dict>
    <!-- 小食 -->  
    <dict>
        <key>name</key>
        <string>薯条</string>
        <key>description</key>
        <string>能量约香蕉两根</string>
        <key>categoryType</key>
        <string>小食</string>
        <key>categoryIndex</key>
        <integer>0</integer>
        <key>nutritions</key>
        <dict>
            <key>calories</key>
            <integer>226</integer>
            <key>protein</key>
            <real>3.3</real>
            <key>fat</key>
            <real>10.4</real>
            <key>carbohydrate</key>
            <real>28.2</real>
            <key>sodium</key>
            <integer>195</integer>
            <key>calcium</key>
            <integer>12</integer>
        </dict>
    </dict>
    <dict>
        <key>name</key>
        <string>麦乐鸡（5块）</string>
        <key>description</key>
        <string>能量约土豆2个</string>
        <key>categoryType</key>
        <string>小食</string>
        <key>categoryIndex</key>
        <integer>1</integer>
        <key>nutritions</key>
        <dict>
            <key>calories</key>
            <integer>220</integer>
            <key>protein</key>
            <real>12.9</real>
            <key>fat</key>
            <real>13.1</real>
            <key>carbohydrate</key>
            <real>11.7</real>
            <key>sodium</key>
            <integer>438</integer>
            <key>calcium</key>
            <integer>8</integer>
        </dict>
    </dict>
    <dict>
        <key>name</key>
        <string>玉米杯</string>
        <key>description</key>
        <string>能量约胡萝卜2根</string>
        <key>categoryType</key>
        <string>小食</string>
        <key>categoryIndex</key>
        <integer>2</integer>
        <key>nutritions</key>
        <dict>
            <key>calories</key>
            <integer>58</integer>
            <key>protein</key>
            <real>2.1</real>
            <key>fat</key>
            <real>1.2</real>
            <key>carbohydrate</key>
            <real>8.8</real>
            <key>sodium</key>
            <integer>0</integer>
            <key>calcium</key>
            <integer>6</integer>
        </dict>
    </dict>
    <dict>
        <key>name</key>
        <string>麦辣鸡翅</string>
        <key>description</key>
        <string>能量约奇异果4个</string>
        <key>categoryType</key>
        <string>小食</string>
        <key>categoryIndex</key>
        <integer>3</integer>
        <key>nutritions</key>
        <dict>
            <key>calories</key>
            <integer>180</integer>
            <key>protein</key>
            <real>11.5</real>
            <key>fat</key>
            <real>11.5</real>
            <key>carbohydrate</key>
            <real>7.5</real>
            <key>sodium</key>
            <integer>417</integer>
            <key>calcium</key>
            <integer>9</integer>
        </dict>
    </dict>
    <dict>
        <key>name</key>
        <string>那么大鸡排</string>
        <key>description</key>
        <string>能量约桔子5个</string>
        <key>categoryType</key>
        <string>小食</string>
        <key>categoryIndex</key>
        <integer>4</integer>
        <key>nutritions</key>
        <dict>
            <key>calories</key>
            <integer>362</integer>
            <key>protein</key>
            <real>22</real>
            <key>fat</key>
            <real>19.9</real>
            <key>carbohydrate</key>
            <real>22.9</real>
            <key>sodium</key>
            <integer>907</integer>
            <key>calcium</key>
            <integer>14</integer>
        </dict>
    </dict>
    <dict>
        <key>name</key>
        <string>苹果片</string>
        <key>description</key>
        <string>能量约蘑菇12个</string>
        <key>categoryType</key>
        <string>小食</string>
        <key>categoryIndex</key>
        <integer>5</integer>
        <key>nutritions</key>
        <dict>
            <key>calories</key>
            <integer>37</integer>
            <key>protein</key>
            <real>0</real>
            <key>fat</key>
            <real>0</real>
            <key>carbohydrate</key>
            <real>8.9</real>
            <key>sodium</key>
            <integer>0</integer>
            <key>calcium</key>
            <integer>0</integer>
        </dict>
    </dict>
    <dict>
        <key>name</key>
        <string>美味鲜蔬杯</string>
        <key>description</key>
        <string>能量约苹果1个</string>
        <key>categoryType</key>
        <string>小食</string>
        <key>categoryIndex</key>
        <integer>6</integer>
        <key>nutritions</key>
        <dict>
            <key>calories</key>
            <integer>12</integer>
            <key>protein</key>
            <real>0.6</real>
            <key>fat</key>
            <real>0</real>
            <key>carbohydrate</key>
            <real>1.7</real>
            <key>sodium</key>
            <integer>16</integer>
            <key>calcium</key>
            <integer>15</integer>
        </dict>
    </dict>
</array>
</plist>
