<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>汉堡包</string>
		<key>description</key>
		<string>能量约苹果2个</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>0</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>245</integer>
			<key>protein</key>
			<real>12.9</real>
			<key>fat</key>
			<real>7.8</real>
			<key>carbohydrate</key>
			<real>29.5</real>
			<key>sodium</key>
			<integer>522</integer>
			<key>calcium</key>
			<integer>143</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>吉士汉堡包</string>
		<key>description</key>
		<string>能量约红薯3个</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>1</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>299</integer>
			<key>protein</key>
			<real>15.6</real>
			<key>fat</key>
			<real>11.8</real>
			<key>carbohydrate</key>
			<real>31.1</real>
			<key>sodium</key>
			<integer>740</integer>
			<key>calcium</key>
			<integer>231</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>双层吉士汉堡</string>
		<key>description</key>
		<string>能量约大虾10只</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>2</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>440</integer>
			<key>protein</key>
			<real>26.1</real>
			<key>fat</key>
			<real>21.8</real>
			<key>carbohydrate</key>
			<real>33.7</real>
			<key>sodium</key>
			<integer>995</integer>
			<key>calcium</key>
			<integer>322</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>麦香鸡</string>
		<key>description</key>
		<string>能量约苹果3个</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>3</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>374</integer>
			<key>protein</key>
			<real>14.5</real>
			<key>fat</key>
			<real>16.5</real>
			<key>carbohydrate</key>
			<real>40.3</real>
			<key>sodium</key>
			<integer>792</integer>
			<key>calcium</key>
			<integer>150</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>麦香鱼</string>
		<key>description</key>
		<string>能量约橘子4个</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>4</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>342</integer>
			<key>protein</key>
			<real>14.5</real>
			<key>fat</key>
			<real>14</real>
			<key>carbohydrate</key>
			<real>37.5</real>
			<key>sodium</key>
			<integer>611</integer>
			<key>calcium</key>
			<integer>300</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>麦辣鸡腿汉堡</string>
		<key>description</key>
		<string>能量约牛油果2个</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>5</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>516</integer>
			<key>protein</key>
			<real>23.2</real>
			<key>fat</key>
			<real>26.4</real>
			<key>carbohydrate</key>
			<real>44.5</real>
			<key>sodium</key>
			<integer>1164</integer>
			<key>calcium</key>
			<integer>156</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>培根蔬萃双层牛堡</string>
		<key>description</key>
		<string>能量约生蚝4只</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>6</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>459</integer>
			<key>protein</key>
			<integer>24</integer>
			<key>fat</key>
			<real>23</real>
			<key>carbohydrate</key>
			<real>35.7</real>
			<key>sodium</key>
			<integer>666</integer>
			<key>calcium</key>
			<integer>154</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>巨无霸</string>
		<key>description</key>
		<string>能量约梨5个</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>7</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>491</integer>
			<key>protein</key>
			<integer>26</integer>
			<key>fat</key>
			<real>23.4</real>
			<key>carbohydrate</key>
			<real>42.6</real>
			<key>sodium</key>
			<integer>809</integer>
			<key>calcium</key>
			<integer>252</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>原味板烧鸡腿堡</string>
		<key>description</key>
		<string>能量约红薯4个</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>8</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>404</integer>
			<key>protein</key>
			<real>22.9</real>
			<key>fat</key>
			<real>17.5</real>
			<key>carbohydrate</key>
			<real>37.2</real>
			<key>sodium</key>
			<integer>1174</integer>
			<key>calcium</key>
			<integer>221</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>不素之霸双层牛堡</string>
		<key>description</key>
		<string></string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>9</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>454</integer>
			<key>protein</key>
			<real>27.7</real>
			<key>fat</key>
			<real>23.4</real>
			<key>carbohydrate</key>
			<real>32</real>
			<key>sodium</key>
			<integer>898</integer>
			<key>calcium</key>
			<integer>99</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>双层深海鳕鱼堡</string>
		<key>description</key>
		<string>相当于5个大虾</string>
		<key>categoryType</key>
		<string>汉堡</string>
		<key>categoryIndex</key>
		<integer>10</integer>
		<key>nutritions</key>
		<dict>
			<key>calories</key>
			<integer>526</integer>
			<key>protein</key>
			<real>25.2</real>
			<key>fat</key>
			<real>24.6</real>
			<key>carbohydrate</key>
			<real>49.4</real>
			<key>sodium</key>
			<integer>912</integer>
			<key>calcium</key>
			<integer>448</integer>
		</dict>
	</dict>
</array>
</plist>
